.btn {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	width: fit-content;
	min-height: 50px;
	padding: 15px;
	color: var(--fc-light);
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	background: none;
	border: 1px solid var(--primary);
	border-radius: 10px;
	box-shadow: var(--main-shadow);
	transition: var(--transition);

	@include mouse {

		&:hover {
			box-shadow: 0 0 5px var(--tertiary);
		}
	}

	&:active {
		opacity: 0.7;
	}

	&--fill {
		font-size: 14px;
		background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 50%, var(--primary) 100%) no-repeat left center / 200% auto;
		border: none;
		box-shadow: 0 0 15px var(--tertiary);

		@include mouse {

			&:hover {
				background-position: right center;
				box-shadow: 0 0 15px var(--tertiary);
			}
		}
	}
}

.btn-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: auto;
	aspect-ratio: 1/1;
	padding: 0;
	color: var(--fc-light);
	background: var(--main-gradient);
	border: none;
	border-radius: 50%;
	box-shadow: var(--main-shadow);
	transition: var(--transition);
}

.btn-prev,
.btn-next {
	color: var(--primary);
	cursor: pointer;
	transition: var(--transition);

	@include mouse {

		&:hover {
			color: var(--fc-light);
		}
	}

	&.swiper-button-disabled {
		color: var(--fc-light);
		cursor: default;
		opacity: 0.3;
		pointer-events: none;
	}
}

.btn-prev {

	svg {
		transform: rotate(180deg);
	}
}

.btn-show-more {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 30px 40px;
	color: var(--fc-light);
	font-size: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
	font-family: var(--font-secondary);
	background: none;
	border: 1px solid rgba(#fff, 0.5);
	border-radius: 20px;
	transition: var(--transition);

	@include xs {
		padding: 30px;
	}

	@include mouse {

		&:hover {
			border-color: #fff;
			border-radius: 0;
		}
	}

	&.loader {

		&::before {
			font-size: 30px;
		}
	}

	&.hidden {
		display: none;
	}

	svg {
		color: var(--primary);
	}
}
