.form-question {
	margin: 150px 0;

	@include hg {
		margin: 80px 0;
	}

	@include xs {
		margin: 40px 0 30px;
	}

	&__title {
		text-align: left;
	}

	&__text {
		max-width: 250px;
		margin-top: 40px;

		@include hg {
			margin-top: 30px;
		}
	}

	&__form {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		align-items: center;
		margin-top: 30px;

		@include md {
			grid-template-columns: 1fr 1fr;
		}

		@include xs {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		input[name="client_message"] {

			@include md {
				grid-column: span 2;
			}
		}
	}

	&__input {
		min-height: 90px;

		@include hg {
			min-height: 50px;
		}
	}

	&__policy {
		grid-column: span 2;
		max-width: 600px;
		color: var(--primary);
		font-weight: 600;
		font-size: 14px;
		line-height: 1.4;

		@include md {
			grid-column: auto;
		}

		@include sm {
			grid-column: span 2;
		}

		a {
			@include ui-link(var(--primary));
		}
	}

	&__submit {
		width: 100%;
		max-width: 250px;
		height: fit-content;
		min-height: 50px;
		margin-left: auto;

		@include sm {
			grid-column: span 2;
			margin-left: 0;
		}
	}
}
