.input {
	width: 100%;
	min-height: 50px;
	padding: 15px 20px;
	color: var(--fc-light);
	font-size: 14px;
	background: none;
	border: 1px solid rgba(#fff, 0.5);
	border-radius: 10px;
	transition: var(--transition);

	&:hover,
	&:focus {
		border-color: #fff;
	}

	&::placeholder {
		color: #989898;
	}
}
