.post-card {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 50px 100px;
	width: 100%;
	padding: 75px 115px 60px 40px;
	background: none;
	border: 1px solid var(--primary);
	transition: var(--transition);

	@include lg {
		padding: 60px 80px;
	}

	@include md {
		gap: 50px;
		padding: 60px 30px;
	}

	@include sm {
		grid-template-columns: 1fr;
		gap: 30px;
	}

	@include xs {
		gap: 10px;
		padding: 40px 20px;
	}

	@include mouse {

		&:hover {
			background: rgba(#1a6d8d, 0.5);
		}
	}

	&__title {
		grid-row: span 2;
		color: var(--primary);
		font-weight: 700;
		font-size: 24px;

		@include sm {
			grid-row: auto;
		}

		a {
			color: var(--secondary);
			@include ui-link(var(--secondary));
		}
	}

	&__excerpt {
		line-height: 1.4;
	}

	&__link {
		justify-content: space-between;
		width: 100%;
		max-width: 300px;
		padding: 15px 15px 15px 30px;

		@include sm {
			margin-top: 20px;
		}
	}
}
