.steps {
	margin: 100px 0 40px;

	@include hg {
		margin: 60px 0 30px;
	}

	@include xs {
		margin: 30px 0;
	}

	&__container {
		z-index: var(--ui-index-1);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-top: 40px;
		padding: 60px 100px;
		background: #fff;
		counter-reset: steps-counter 0;

		@include hg {
			padding: 60px 80px;
		}

		@include md {
			padding: 40px;
		}

		@include sm {
			padding: 40px 30px;
		}

		@include xs {
			margin-top: 20px;
			padding: 40px 15px;
		}
	}

	&__item {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 30px;
		padding: 0 0 30px 60px;
		border-bottom: 1px solid var(--fc-gray);
		counter-increment: steps-counter 1;

		@include sm {
			gap: 10px 30px;
			padding: 0 0 30px 40px;
		}

		@include xs {
			grid-template-columns: 1fr;
		}

		&:last-child {
			padding: 0 0 0 60px;
			border: none;

			@include sm {
				padding: 0 0 0 40px;
			}
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			color: var(--secondary);
			font-weight: 700;
			font-size: 24px;
			content: counter(steps-counter, decimal-leading-zero);

			@include md {
				font-size: 20px;
			}
		}
	}

	&__item-label {
		color: var(--primary);
		font-weight: 700;
		font-size: 24px;

		@include md {
			font-size: 20px;
		}
	}

	&__item-text {
		color: var(--fc-dark);
		font-size: 18px;
		line-height: 1.4;

		@include sm {
			font-size: 16px;
		}
	}
}
