.st-ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		padding-left: 35px;
		font-size: 18px;

		@include xs {
			font-size: 16px;
		}

		&::before {
			position: absolute;
			top: 5px;
			left: 0;
			width: 15px;
			height: 15px;
			background:
				url(assets/images/icon-arrow-small.svg) no-repeat 50% / 7px auto,
				var(--main-gradient);
			border-radius: 50%;
			content: "";
		}
	}
}

.st-left-border {
	margin: 40px 0;
	padding-left: 30px;
	line-height: 1.3;
	border-left: 4px solid var(--primary);

	@include xs {
		margin: 24px 0;
		padding-left: 30px;
		line-height: 1.2;
	}
}
